<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Google Analytics Card renderer Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TIMEZONE" value="Europe/Moscow"/>
        <env name="TRACKING_ID" value=""/>
        <env name="SERVICE_EMAIL" value=""/>
        <env name="ACCESS_FILE_P12" value=""/>
    </php>
</phpunit>
